Ödev

Alanla ilgili gerçek bir regresyon veri seti (en az 3 sütunu, 200 satırı olmalı) bulup mlr, plr (3. derece), dt, rf algoritmalarını çalıştırıp r2, mae, mape, mse skorlarını hesaplatınız ve yorumlayınız.Veri hazırlık aşamasını uygulayınız.train test split kullanınız.Jupyter dosyanıza markdown ve açıklamalar ekleyiniz.ödev dosyalarınızı (kodlarınızı ve veri setinizi) gitlab/github hesabınıza push ederek yükleyiniz.Repo linkini OYS üzerinden 18.11.2024 23:59’a kadar gönderiniz.

The objective of this project to predict the population of countries 
using the next regression models. 
Multiple Linear Regression (MLR)
Polynomial Regression (PLR, Degree 3)
Decision Tree (DT)
Random Forest (RF)

In [86]:
#importing the neceseray libaries:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

In [88]:
df = pd.read_excel("world_population_excel_workbook.xlsx")
#pd.set_option('display.max_rows', None)
#pd.set_option('display.max_columns', None)
df

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (kmÂ²),Density (per kmÂ²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572,11655,12182,13142,14723,13454,11315,9377,142,81.4930,0.9953,0.00
230,172,ESH,Western Sahara,El AaiÃºn,Africa,575986,556048,491824,413296,270375,178529,116775,76371,266000,2.1654,1.0184,0.01
231,46,YEM,Yemen,Sanaa,Asia,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,527968,63.8232,1.0217,0.42
232,63,ZMB,Zambia,Lusaka,Africa,20017675,18927715,16248230,13792086,9891136,7686401,5720438,4281671,752612,26.5976,1.0280,0.25
233,74,ZWE,Zimbabwe,Harare,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,390757,41.7665,1.0204,0.20

In [90]:
#Dependent and independent
#Drop columns that are not needed for regression modeling
#Target variable is 2022 Population

X = df.drop(['Rank', 'CCA3', 'Country', 'Capital', 'Continent'], axis=1)
y = df['2022 Population']

In [115]:
#Train_Test_split
# Split the data into training and testing sets (80% training, 20% testing)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [94]:
#Train the Multiple Linear Regression (MLR) model
mlr = LinearRegression()
mlr.fit(X_train, y_train)
mlr_pred = mlr.predict(X_test)

In [96]:
#Train the Polynomial Regression (PLR) model with degree 3 (cubic)
Train the Polynomial Regression (PLR) model with a degree of 2 (quadratic)
poly = PolynomialFeatures(degree=3)
X_train_poly = poly.fit_transform(X_train)
X_test_poly = poly.transform(X_test)
plr = LinearRegression()
plr.fit(X_train_poly, y_train)
plr_pred = plr.predict(X_test_poly)

In [98]:
#Train the Decision Tree (DT) model
dt = DecisionTreeRegressor(random_state=42)
dt.fit(X_train, y_train)
dt_pred = dt.predict(X_test)

In [100]:
#Train the Random Forest (RF) model
rf = RandomForestRegressor(random_state=42)
rf.fit(X_train, y_train)
rf_pred = rf.predict(X_test)

In [102]:
# Metric calculations
def mean_absolute_percentage_error(y_true, y_pred):
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

In [104]:
# Metrics for each model
mlr_metrics = (
    r2_score(y_test, mlr_pred),
    mean_absolute_error(y_test, mlr_pred),
    mean_squared_error(y_test, mlr_pred),
    mean_absolute_percentage_error(y_test, mlr_pred),
)

plr_metrics = (
    r2_score(y_test, plr_pred),
    mean_absolute_error(y_test, plr_pred),
    mean_squared_error(y_test, plr_pred),
    mean_absolute_percentage_error(y_test, plr_pred),
)

dt_metrics = (
    r2_score(y_test, dt_pred),
    mean_absolute_error(y_test, dt_pred),
    mean_squared_error(y_test, dt_pred),
    mean_absolute_percentage_error(y_test, dt_pred),
)

rf_metrics = (
    r2_score(y_test, rf_pred),
    mean_absolute_error(y_test, rf_pred),
    mean_squared_error(y_test, rf_pred),
    mean_absolute_percentage_error(y_test, rf_pred),
)

In [106]:
# Display the results
print("Multiple Linear Regression Metrics:")
print(f"R²: {mlr_metrics[0]:.4f}, MAE: {mlr_metrics[1]:.2f}, MSE: {mlr_metrics[2]:.2f}, MAPE: {mlr_metrics[3]:.2f}%")

print("\nPolynomial Linear Regression Metrics:")
print(f"R²: {plr_metrics[0]:.4f}, MAE: {plr_metrics[1]:.2f}, MSE: {plr_metrics[2]:.2f}, MAPE: {plr_metrics[3]:.2f}%")

print("\nDecision Tree Metrics:")
print(f"R²: {dt_metrics[0]:.4f}, MAE: {dt_metrics[1]:.2f}, MSE: {dt_metrics[2]:.2f}, MAPE: {dt_metrics[3]:.2f}%")

print("\nRandom Forest Metrics:")
print(f"R²: {rf_metrics[0]:.4f}, MAE: {rf_metrics[1]:.2f}, MSE: {rf_metrics[2]:.2f}, MAPE: {rf_metrics[3]:.2f}%")

Multiple Linear Regression Metrics:
R²: 1.0000, MAE: 0.00, MSE: 0.00, MAPE: 0.00%

Polynomial Linear Regression Metrics:
R²: -66029339.3063, MAE: 133303791182.29, MSE: 215790582814972724641792.00, MAPE: 116462.48%

Decision Tree Metrics:
R²: 0.9603, MAE: 3771438.70, MSE: 129852488279352.28, MAPE: 11.00%

Random Forest Metrics:
R²: 0.9641, MAE: 3155264.07, MSE: 117471577908060.84, MAPE: 5.21%